<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>536695916934-nltbl010hkan3ou7p3neij5u8bdd46ig.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536695916934-nltbl010hkan3ou7p3neij5u8bdd46ig</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>536695916934-dnlf9n6eg28damohsoe1f0bqp6ktltf5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA6z0XPnX2IGqGTtL3uaGpgmr_-NfaQNeA</string>
	<key>GCM_SENDER_ID</key>
	<string>536695916934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fossgen.appointmentxpert</string>
	<key>PROJECT_ID</key>
	<string>appointxpert</string>
	<key>STORAGE_BUCKET</key>
	<string>appointxpert.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536695916934:ios:dcfbf3b35ef0072e220407</string>
</dict>
</plist>