<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>536695916934-9nakgghe1rcl57ngh5ksvo56f1fu2p8e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536695916934-9nakgghe1rcl57ngh5ksvo56f1fu2p8e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>536695916934-jr368absn38vn1b7g7hi5l330d3uf839.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA6z0XPnX2IGqGTtL3uaGpgmr_-NfaQNeA</string>
	<key>GCM_SENDER_ID</key>
	<string>536695916934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appointmentxpert</string>
	<key>PROJECT_ID</key>
	<string>appointxpert</string>
	<key>STORAGE_BUCKET</key>
	<string>appointxpert.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536695916934:ios:c948f7291e09acb1220407</string>
</dict>
</plist>